In [2]:
import pandas as pd
import numpy as np

In [5]:
s1 = pd.Series([1, 3, 6, np.nan, 44, 1])
print(type(s1))

<class 'pandas.core.series.Series'>

In [7]:
s2 = pd.Series([1, 3, 6], index = ['a', 'b', 'c'])
print(type(s2))
s2

<class 'pandas.core.series.Series'>

a    1
b    3
c    6
dtype: int64

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), columns = ['a', 'b', 'c', 'd'])
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

          a         b         c         d
0  0.978935  1.638968 -0.764418 -1.030853
1 -0.686125 -0.597172 -1.020886  0.434498
2 -0.677074  0.358833  0.577363 -0.046083
3  1.157262  1.467902 -0.095272  0.272524
4  0.546797  1.052343  1.492302  1.157826
5 -0.817353  0.077985  1.219452 -1.738621

<font color=black size=5>Data Calculation (資料運算) </font>